#to identify donor dashboard for testing
<h1><%= @user.email %>'s Dashboard</h1>

<div class="about-me text-left">
  <h2>About Me</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique velit ut nunc facilisis, sed fringilla velit eleifend. Nullam sed quam vel dolor semper elementum. Sed interdum, libero in posuere consequat, metus lacus venenatis quam, et iaculis enim arcu eu justo. Duis scelerisque eleifend enim, sit amet rhoncus nisl consectetur ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer a erat malesuada, ullamcorper enim vel, convallis turpis. Suspendisse sed arcu vel eros gravida tristique. Duis eu malesuada augue.</p>
</div>

