#to identify donor dashboard for testing
<h1><%= @user.email %>'s Dashboard</h1>

<div class="explore-organizations text-left">
  <h2>Explore Organizations Near Me</h2>
  #include search by zipcode and mile radius
  
