#to identify dashboard
<h1>Dashboard</h1>

<p>Welcome back, <%= @user.email %>!</p>

<% if @user.user_type == "donor" %>
  <%= render partial: 'donor_dashboard' %>
<% else %>
  <%= render partial: 'recipient_dashboard' %>
<% end %>


