---
http_interactions:
- request:
    method: get
    uri: https://api.namefake.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2,h2c
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Crystel Rath","address":"699 Keven Islands Apt. 158\nVeldafort,
        ME 57219-5752","latitude":47.617874,"longitude":74.51902999999999,"maiden_name":"Mertz","birth_data":"1964-07-26","phone_h":"(895)685-2670x317","phone_w":"(729)792-5208x543","email_u":"qrodriguez","email_d":"quebecstart.com","username":"lempimarks","password":"%}f).,_bJ5E&v%F5","domain":"morissette.com","useragent":"Opera\/9.81
        (X11; Linux x86_64; en-US) Presto\/2.11.323 Version\/10.00","ipv4":"172.20.89.101","macaddress":"F3:13:72:A1:B6:61","plasticcard":"6011988855285540","cardexpir":"09\/25","bonus":35,"company":"McClure-Daugherty","color":"gray","uuid":"b4e60362-b2e3-387e-8089-5b3fdfad5720","height":176,"weight":93.4,"blood":"O+","eye":"Blue","hair":"Wavy,
        Black","pict":"8female","url":"https:\/\/api.namefake.com\/english-united-states\/female\/6b93519d662f62f3af3e391342cfdaa0","sport":"Equestrian
        \/ Dressage","ipv4_url":"\/\/myip-address.com\/ip-lookup\/172.20.89.101","email_url":"\/\/emailfake.com\/quebecstart.com\/qrodriguez","domain_url":"\/\/myip-address.com\/ip-lookup\/morissette.com"}'
  recorded_at: Fri, 21 Apr 2023 14:52:47 GMT
- request:
    method: post
    uri: http://localhost:5000/api/v1/users
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=spoon_fight_at_night43%40gmail.com&user%5Bpassword%5D=nightfight&user%5Buser_type%5D=recipient&user%5Busername%5D=lempimarks
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f22e2b6dab29bacd4e65ed1350e9ff08"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"57","type":"user","attributes":{"email":"spoon_fight_at_night43@gmail.com","user_type":"recipient","username":"lempimarks"}}}'
  recorded_at: Fri, 21 Apr 2023 14:52:48 GMT
- request:
    method: get
    uri: http://localhost:5000/api/v1/users/57
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f22e2b6dab29bacd4e65ed1350e9ff08"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"57","type":"user","attributes":{"email":"spoon_fight_at_night43@gmail.com","user_type":"recipient","username":"lempimarks"}}}'
  recorded_at: Fri, 21 Apr 2023 14:52:48 GMT
- request:
    method: get
    uri: http://localhost:5000/api/v1//wishlist_items?user_id=57
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fe32e407a1038ee38753b70e5374b3a"
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Fri, 21 Apr 2023 14:52:48 GMT
- request:
    method: get
    uri: http://localhost:5000/api/v1/users/13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"673128ab983c841d3d320e7b7dda2b2c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"13","type":"user","attributes":{"email":"spoon_fight_at_night33@gmail.com","user_type":"recipient","username":null}}}'
  recorded_at: Fri, 21 Apr 2023 14:52:48 GMT
recorded_with: VCR 6.1.0
