---
http_interactions:
- request:
    method: get
    uri: https://api.namefake.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2,h2c
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Ms. Amina Cummings III","address":"9503 Cristian Plaza Apt.
        682\nKelleyside, NJ 03095-0281","latitude":-69.440497,"longitude":26.191508,"maiden_name":"Buckridge","birth_data":"2005-02-21","phone_h":"(358)984-2928x22911","phone_w":"(593)254-4439","email_u":"bogan.birdie","email_d":"bravemoh.tech","username":"donavonhegmann","password":"%qmx)W:C&Gm1z6","domain":"marvin.com","useragent":"Mozilla\/5.0
        (compatible; MSIE 6.0; Windows NT 6.0; Trident\/4.0)","ipv4":"121.217.213.126","macaddress":"6F:61:5D:63:F7:B0","plasticcard":"4800939894963878","cardexpir":"10\/24","bonus":36,"company":"Nolan-Wisoky","color":"teal","uuid":"353c2d93-d8d7-3507-8c07-f3efcf4b79cf","height":161,"weight":98.1,"blood":"O\u2212","eye":"Amber","hair":"Straight,
        Blond","pict":"8female","url":"https:\/\/api.namefake.com\/english-united-states\/female\/9a1e25914475a2368c7c80f6a3292592","sport":"Boxing","ipv4_url":"\/\/myip-address.com\/ip-lookup\/121.217.213.126","email_url":"\/\/emailfake.com\/bravemoh.tech\/bogan.birdie","domain_url":"\/\/myip-address.com\/ip-lookup\/marvin.com"}'
  recorded_at: Fri, 21 Apr 2023 14:55:23 GMT
- request:
    method: post
    uri: http://localhost:5000/api/v1/users
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=plant_zaddy47%40gmail.com&user%5Bpassword%5D=leafy_greens34&user%5Buser_type%5D=donor&user%5Busername%5D=bloomin_babe
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a362fb695efca99516131df0bae51052"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"59","type":"user","attributes":{"email":"plant_zaddy47@gmail.com","user_type":"donor","username":"bloomin_babe"}}}'
  recorded_at: Fri, 21 Apr 2023 14:55:23 GMT
- request:
    method: get
    uri: http://localhost:5000/api/v1/users/59
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a362fb695efca99516131df0bae51052"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"59","type":"user","attributes":{"email":"plant_zaddy47@gmail.com","user_type":"donor","username":"bloomin_babe"}}}'
  recorded_at: Fri, 21 Apr 2023 14:55:23 GMT
recorded_with: VCR 6.1.0
