---
http_interactions:
- request:
    method: get
    uri: https://api.namefake.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2,h2c
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Mr. Wiley McLaughlin","address":"2145 Orland Tunnel\nSchuppeborough,
        MD 42888-9289","latitude":-49.736203,"longitude":-96.708401,"maiden_name":"Cronin","birth_data":"1966-06-03","phone_h":"843-961-8064x3535","phone_w":"(106)986-9305x1590","email_u":"monserrate33","email_d":"vkbags.in","username":"waelchiserenity","password":"[)`L:%hExFayCSp7\\L","domain":"cormier.com","useragent":"Opera\/8.68
        (X11; Linux x86_64; en-US) Presto\/2.10.191 Version\/10.00","ipv4":"18.93.220.58","macaddress":"EC:A8:48:78:EA:8D","plasticcard":"4556800393917","cardexpir":"02\/24","bonus":19,"company":"Lesch-Walter","color":"silver","uuid":"df45e15b-41b4-3f90-99bb-34fe71e3ba51","height":153,"weight":86.3,"blood":"A\u2212","eye":"Amber","hair":"Straight,
        Blond","pict":"7male","url":"https:\/\/api.namefake.com\/english-united-states\/male\/b946b864a2871f87a70746ebada52697","sport":"Short
        Track Speed Skating","ipv4_url":"\/\/myip-address.com\/ip-lookup\/18.93.220.58","email_url":"\/\/emailfake.com\/vkbags.in\/monserrate33","domain_url":"\/\/myip-address.com\/ip-lookup\/cormier.com"}'
  recorded_at: Fri, 21 Apr 2023 14:52:49 GMT
- request:
    method: post
    uri: http://localhost:5000/api/v1/users
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=snickerz_lover86%40gmail.com&user%5Bpassword%5D=caramelizyumz&user%5Buser_type%5D=donor&user%5Busername%5D=waelchiserenity
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"776de88904d305f546fda5699cfafb60"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"58","type":"user","attributes":{"email":"snickerz_lover86@gmail.com","user_type":"donor","username":"waelchiserenity"}}}'
  recorded_at: Fri, 21 Apr 2023 14:52:49 GMT
- request:
    method: get
    uri: http://localhost:5000/api/v1/users/58
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"776de88904d305f546fda5699cfafb60"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"58","type":"user","attributes":{"email":"snickerz_lover86@gmail.com","user_type":"donor","username":"waelchiserenity"}}}'
  recorded_at: Fri, 21 Apr 2023 14:52:49 GMT
- request:
    method: get
    uri: http://localhost:5000/api/v1/wishlist_items?modifier=donated&user_id=58
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8fe32e407a1038ee38753b70e5374b3a"
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Fri, 21 Apr 2023 14:52:49 GMT
- request:
    method: get
    uri: http://localhost:5000/api/v1/users/14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"caea59ae93e58cf64bd69584eebb6a38"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"14","type":"user","attributes":{"email":"snickerz_lover85@gmail.com","user_type":"donor","username":null}}}'
  recorded_at: Fri, 21 Apr 2023 14:52:49 GMT
recorded_with: VCR 6.1.0
