---
http_interactions:
- request:
    method: get
    uri: https://api.namefake.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Upgrade:
      - h2,h2c
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Vidal Hoppe","address":"83651 Clarabelle Mountains Suite 306\nLake
        Malvina, NH 24881-7438","latitude":9.671401000000003,"longitude":-94.329125,"maiden_name":"Gaylord","birth_data":"1962-03-01","phone_h":"196-891-6463x726","phone_w":"(279)141-8991x50478","email_u":"bernice.littel","email_d":"thekurangngopi.club","username":"xohara","password":"U|y7W+,u)f`kS&","domain":"gleason.com","useragent":"Opera\/9.19
        (X11; Linux x86_64; sl-SI) Presto\/2.11.324 Version\/12.00","ipv4":"20.204.5.245","macaddress":"FA:37:D6:8D:06:32","plasticcard":"344613323910898","cardexpir":"02\/24","bonus":8,"company":"Gusikowski,
        Schuster and Hodkiewicz","color":"lime","uuid":"5cc29fb7-df37-370a-bffb-fa8eadd0c246","height":176,"weight":86.2,"blood":"A\u2212","eye":"Gray","hair":"Very
        curly, Brown","pict":"2male","url":"https:\/\/api.namefake.com\/english-united-states\/male\/91f82ba9948df4f1bceb561f32a7af5e","sport":"Rowing","ipv4_url":"\/\/myip-address.com\/ip-lookup\/20.204.5.245","email_url":"\/\/emailfake.com\/thekurangngopi.club\/bernice.littel","domain_url":"\/\/myip-address.com\/ip-lookup\/gleason.com"}'
  recorded_at: Fri, 21 Apr 2023 14:52:50 GMT
- request:
    method: post
    uri: http://localhost:5000/api/v1/users
    body:
      encoding: UTF-8
      string: user%5Bemail%5D=not_a_valid_email&user%5Bpassword%5D=&user%5Buser_type%5D=donor&user%5Busername%5D=xohara
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"your query could not be completed","errors":[{"status":"400","title":"Email
        is invalid"},{"status":"400","title":"Password can''t be blank"}]}'
  recorded_at: Fri, 21 Apr 2023 14:52:50 GMT
[...]
