/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require bootstrap.min
 */

 .btn-primary:hover {
  transition: 0.9s;
}

/* div {
  padding: 20px;
} */

.border {
  border: 1px solid black;
  padding: 30px;
}

.my-form-class {
  /* Set font size and margin for form elements */
  font-size: 14px;
  margin-bottom: 10px;
}

.my-form-class input[type="text"],
.my-form-class input[type="email"],
.my-form-class input[type="password"],
.my-form-class input[type="password_confirmation"] {
  /* Set padding and border for text and email input fields */
  padding: 5px;
  border: 1px solid #ccc;
}

/* .my-form-class button[type="submit"] {
  /* Style the submit button */
  /* background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
} */ 

 /* .my-form-class button[type="submit"]:hover {
  /* Add a hover effect to the submit button */
  /* background-color: #0069d9;
} */ 

 .my-form-class label {
  /* Style the label */
  display: block;
  margin-bottom: 5px;
}

.rounded-image {
  border-radius: 10px;
  overflow: hidden;
}

.rounded-image iframe {
  display: block;
  width: 100%;
  height: 100%;
}





