/* custom.css */

/* Add border to body
.body {
  border: 20px solid #686DC3; /* Change color and thickness as desired
  border-radius: 10px; /* Add rounded corners to the border */
/* } */  

/* Optional: Add padding to body to create some space between border and content */
/* body {
  padding: 20px; /* Change value as desired */

.banner {
  background-color: #37AEDD; /* Set the background color for the banner */
  padding: 20px; /* Set the padding around the content in the banner */
  border-radius: 10px;
}

.title {
  font-size: 32px; /* Set the font size for the title */
  margin-bottom: 10px; /* Set the margin bottom to create space between title and tagline */
}

.tagline {
  font-size: 18px; /* Set the font size for the tagline */
}

 /* Round corners of the navbar */
 .navbar {
  border-radius: 10px; /* You can adjust the value to control the degree of rounding */
}

.background {
  background-color: #37AEDD; /* Set the background color for the page */
  padding: 20px; /* Set the padding around the content in the page */
  border-radius: 10px;
  /* width: 100%;
  height: 100%; */
}

 .my-form-class label {
   /* Style the label */
   display: block;
   margin-bottom: 5px;
 }

 .my-form-class input[type="text"],
 .my-form-class input[type="email"],
 .my-form-class input[type="password"],
 .my-form-class input[type="password_confirmation"] {
   /* Set padding and border for text and email input fields */
   padding: 5px;
   border: 1px solid #ccc;
 }

 .my-form-class {
   /* Set font size and margin for form elements */
   font-size: 14px;
   margin-bottom: 10px;
 }

.border {
  border: 1px solid black;
  padding: 30px;
}

.rounded-image {
  border-radius: 10px;
  overflow: hidden;
}

.rounded-image iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* Round corners of a div element */
.rounded-div {
  border-radius: 10px;
  /* You can adjust the value to control the degree of rounding */
}

/* Round corners of an image element */
.rounded-img {
  border-radius: 50%;
  /* Use a value of 50% to make the image circular */
}

.btn-btn-warning {
  
}