<br>
<h1><%= @organization.name %></h1>

<% unless @organization.mission_statement.nil? %>
  <div id="mission-statement">
    <h3>Mission Statement</h3>
    <p><%= @organization.mission_statement %></p>
  </div>
<% end %>

<h5><%= link_to "View all Recipients", "/organizations/#{@organization.id}/recipients" %></h5>